body {
    overflow-x: hidden;
    width: 100%;
  height: 100%;
  --color: rgba(7, 83, 146, 0.3);
  background-color: #f8ffff;
  background-image: linear-gradient(
      180deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      45deg,
      transparent 24%,
      var(--color) 35%,
      var(--color) 26%,
      transparent 17%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
}



#overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/

}

#videoel {
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}

#container {
    position: relative;
    width: 400px;
   
    margin: 0 auto;
    background: #000000;
    --gap: 5em;
    --line: 1px;
    --color: rgba(255, 255, 255, 0.2);
  
    background-image: linear-gradient(
        -90deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      ),
      linear-gradient(
        0deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      );
    background-size: var(--gap) var(--gap);
}

#content {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

h2 {
    font-weight: 400;
    color: #343a40;
}

.btn {
    padding: 1.3em 3em;
    width: 200px; /* Ancho fijo */
    font-size: 11px; 
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .btn:hover {
    background-color: #2384c4;
    box-shadow: 0px 15px 20px rgba(46, 147, 229, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .btn:active {
    transform: translateY(-1px);
  }
  
  
  

#controls {
    text-align: center;
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}

#emotion_container {
    width: 600px;
}

#emotion_icons {
    height: 50px;
    padding-left: 40px;
}

.emotion_icon {
    width : 40px;
    height : 40px;
    margin-top: 5px;
    /*margin-left : 13px;*/
    margin-left : 35px;
}

#emotion_chart, #emotion_icons {
    margin: 0 auto;
    width : 400px;
}

#icon1, #icon2, #icon3, #icon4, #icon5, #icon6 {
    visibility : hidden;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 400%;
    height: 500%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo opaco */
    z-index: 1000; /* Ajusta según sea necesario para asegurarte de que el modal esté en la parte superior */
}

  
.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px; /* Ancho fijo del modal */
    height: auto; /* Altura automática según el contenido */
    max-height: calc(100% - 40px); /* Máxima altura del modal (altura de la ventana - 40px de margen) */
    margin-top: -300px; /* Un poco más arriba que la mitad de la altura del modal */
    margin-left: -200px; /* Mitad del ancho del modal */
    background-color: #fff;
    padding: 20px; /* Agregamos un padding al contenido del modal */
    border-radius: 5px;
    z-index: 1001;
    transform: translate(-50%, -50%);
}

.modal-content p,
.modal-content h3 {
    margin: 0; /* Eliminamos los márgenes predeterminados para los elementos p y h3 */
    font-size: 16px; /* Ajustamos el tamaño de la fuente según sea necesario */
    line-height: 1.5; /* Ajustamos el espaciado entre líneas según sea necesario */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.flip-scale-up-diag-2 {
    -webkit-animation: flip-scale-up-diag-2 0.5s linear both;
    animation: flip-scale-up-diag-2 0.5s linear both;
}

@-webkit-keyframes flip-scale-up-diag-2 {
    0% {
        -webkit-transform: scale(0) rotate3d(1, 0, 0, 90deg);
        transform: scale(0) rotate3d(1, 0, 0, 90deg);
    }
    100% {
        -webkit-transform: scale(1) rotate3d(1, 0, 0, 0deg);
        transform: scale(1) rotate3d(1, 0, 0, 0deg);
    }
}
@keyframes flip-scale-up-diag-2 {
    0% {
        -webkit-transform: scale(0) rotate3d(1, 0, 0, 90deg);
        transform: scale(0) rotate3d(1, 0, 0, 90deg);
    }
    100% {
        -webkit-transform: scale(1) rotate3d(1, 0, 0, 0deg);
        transform: scale(1) rotate3d(1, 0, 0, 0deg);
    }
}
.details-button {
    fill: #3498db; /* Color de relleno del botón */
    font-family: Arial, sans-serif; /* Familia de fuente del texto */
    font-size: 14px; /* Tamaño de la fuente del texto */
    font-weight: bold; /* Peso de la fuente del texto */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    transition: fill 0.3s ease; /* Transición suave para el cambio de color */
}

.details-button:hover {
    fill: #2980b9; /* Cambio de color al pasar el mouse sobre el botón */
}
  

/* d3 *
.bar {
    fill : steelblue;
    fill-opacity : .9;
}